#app-structure {

    width: calc(100vw - 120px);
    height: calc(100vh - 120px);
    padding: 50px;
}

#grid-out {
    display: grid;
    grid-template-columns: minmax(100px, 350px) 2fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: calc(100% - 100px);
    background-color: rgb(224, 224, 224);
}

#flexbox-chats {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 10px;
}

.top-menu-chat {
    width: 100%;
    height: 55px;
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.myMenuData{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.btn-newchat {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 47, 40);
    border-radius: 8px;
    color: white;
    font-size: 2.2rem;
    height: 35px;
    width: 35px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.myProfilePicture {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin: 0 10px 0 10px;
}

#searchbox{
    width: 100%;
    
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 5px 0;
}

#searchbox input {
    height: 30px;
    width: 90%;
    background-color: rgb(233, 233, 233);
    border-style: none;
    border-radius: 5px;
    padding-left: 10px;
}

#searchbox input::placeholder {
    color: rgb(105, 105, 105);
    margin-left: 10px;
}

*:focus {
    outline: none;
}

#flexbox-current-chat {
    display: flex;
    flex-direction: column;
}

.top-menu-current-chat {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 55px;
    background-color: rgb(233, 233, 233);
    border-style: none none none solid;
    border-width: 0 0 0 1px;
    border-color: rgb(179, 179, 179);
}

.top-menu-current-chat p {
    font-size: 1rem;
}

.top-menu-current-chat img {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin: 0 10px 0 10px;
}

.chatlist-box {
    width: 100%;
    height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 10px 0;
}

.chatlist-box div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chatlist-box:hover {
    background-color: rgb(231, 231, 231);
}

.chatlist-name {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

.chatlist-lastmessage {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

.chatlist-picture {
    margin: 0;
    padding: 0;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin: 0 10px 0 10px;
}

.chatlist-time{
    
    text-align: right;
    margin: 0 10px 0 0;
    font-size: 0.7rem;
}

.current-chat-box {
    width: 100%;
    max-height: 75vh;
    min-height: 75vh;
    background-color: rgb(255, 244, 230);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 15px 0;
}



.textbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 233, 233);
    height: 55px;
    width: 100%;

}

.textbox-container input {
    height: 30px;
    width: 80%;
    background-color: white;
    border-style: none;
    border-radius: 5px;
    padding-left: 10px;
}

.textbox-container input::placeholder {
    color: rgb(105, 105, 105);
    margin-left: 10px;
}

.textbox-container button {
    height: 30px;
    width: 60px;
    background-color: rgb(13, 28, 13);
    color: white;
    border-radius: 5px;
    margin: 0 0 0 10px;
    cursor: pointer;
}


.fake-div-menu {
    height: 55px;
    width: 100%;
}

.fake-div-messages {
    height: calc(100% - 110px);
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
    list-style-type: none;
}

